*,
*:before,
*:after{
    box-sizing:border-box;
}
body {
   background-color: #F9F7FE;
   font-family: Arial, Helvetica, sans-serif;
}
.container {
   max-width: 800px;
   display: block;
   margin: 60px auto;
   padding: 40px;
   border-radius: 16px;
   background-color: #fff;
   color: rgba(39,33,66,.4);
}
form {
   border-bottom: 1px solid #f9f7fe;
   padding-bottom: 30px;
}
.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}
.col-9 {
   flex: 0 0 75%;
   max-width: 75%;
}
.weather .search-input {
   background: #f9f7fe;
   border: none;
   padding: 15px 20px;
   display: inline-block;
   border-radius: 6px;
   color: rgba(39,33,66,.4);
   font-size: 16px;
   height: 50px;
   line-height: 20px;
}
.col-3 {
   flex: 0 0 25%;
   max-width: 25%;
}
.weather .btn {
   background: #885df1;
   font-weight: 700;
   font-size: 16px;
   padding: 15px 20px;
   border: none;
   height: 50px;
}

.weather__info {
   margin-top: 20px;  
}
.col-6 {
   flex: 0 0 50%;
   max-width: 50%;
}
h1 {
   margin: 20px 0 10px;
   font-weight: 700;
   font-size: 38px;
   line-height: 48px;
   color: #272142;
}
ul {
   margin: 0;
   padding: 0;
}
li {
   font-weight: 500;
    margin-bottom: 5px;
    color: rgba(39,33,66,.4);
    font-size: 16px;
    line-height: 20px;
    list-style: none;
}
strong {
   color: #F65281;
   font-weight: 100;
}
.temp {
   display: flex;
   justify-content: end;
   margin-top: 30px;
}

.temperature {
   /* display: flex;
   justify-content: end; */
   color: #212121;
   margin-left: 20px;
   font-weight: 700;
   font-size: 80px;
   line-height: 1;
}
.degrees {
   color: #212121;
   font-size: 28px;
   font-weight: 600;
   position: relative;
   line-height: 1;
}
.active {
   color: #212121;
   text-decoration: none;
   cursor: default;
}
.active:hover {
   color: #212121;
}
.no-active {
   color: #885df1;
   text-decoration: none;
   cursor: pointer;
}
.no-active:hover {
   text-decoration: underline;
   color: #885df1;
}

.weather__forecast {
   text-align: center;
    margin: 40px 0;
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 50px;
}
.col {
   position: relative;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.future__day {
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: rgba(39,33,66,.4);
}
.col img {
   display: block;
    margin: 20px auto;
}
.temperature__max {
   font-style: normal;
   font-size: 18px;
   line-height: 1.5;
   color: #f65282;
   font-weight: 700;
}
.tempetarure__min {
   margin-left: 10px;
   opacity: .6;
   font-style: normal;
   font-size: 18px;
   line-height: 1.5;
   color: #f65282;
   font-weight: 700;
}
















footer {
   font-size: 14px;
    margin-top: 40px;
    line-height: 18px;
    text-align: center;
    color: rgba(39,33,66,.4);
}
footer a {
   color: #885df1;
   text-decoration: none;
   transition: all 200ms ease-in-out;
}
footer a:hover {
   text-decoration: underline;
}
